.header{;
    background-color: gray;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    border: 1px solid black;
}

.dashbord{
    margin-right: 75%;
    border: 1px solid black;
    text-align: center;
    background-color: gray;

   

}
li{
    list-style: none;
    padding-left: 13px;
    text-align: center;
}

.botoes{
    text-align: start;
    padding-left: 13px;;
    text-align: center;
}
.botoes li{
    border: 1px solid black;
    width: 100px;
    margin-bottom: 10px;
    background-color: lightgray;
    border-radius: 15px;
    padding: 5px;
    text-align: center;

}   
.foto{
    width:50%;
    border-radius: 65px;
}
.skills{
    background-color: brown;
    margin-left: 30%;
    margin-top: -45%;   
    
    
}
.skills li{
    border: 3px solid black;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;
}


    

  

